@import "tailwindcss";
@import "tw-animate-css";

:root {
  --border: #b4b5b6;
  --ring: #f97316;
}

.dark {
  --border: #767171ab;
  --ring: #fb923c;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  @keyframes marquee-left {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee-right {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  .animate-marquee-left {
    animation: marquee-left var(--marquee-duration, 80s) linear infinite;
  }

  .animate-marquee-right {
    animation: marquee-right var(--marquee-duration, 80s) linear infinite;
  }
}
